Repository astrolabsoftware/fink-filters, pull requests merged in 2023-07, with the labels that each got.

#152 Update AD test with latest version of feature extraction
  fink_filters/filter_anomaly_notification/filter.py
Labels: bug, anomaly detection

#150 update grb filter, add new test data
  datatest_grb/grb_join_output.parquet
  datatest_grb/grb_test_data.parquet
  fink_filters/filter_mm_module/__init__.py
  fink_filters/filter_mm_module/filter.py
  fink_filters/filter_on_axis_grb/filter.py
Labels: GRB

#154 Cutouts + light curves in anomaly notifications
  .github/workflows/run_test.yml
  fink_filters/filter_anomaly_notification/filter.py
  fink_filters/filter_anomaly_notification/filter_utils.py
Labels: anomaly detection

#155 Use the channel ID instead of the test channel
  fink_filters/filter_anomaly_notification/filter.py
  fink_filters/filter_anomaly_notification/filter_utils.py
Labels: bug, anomaly detection

#156 Telegram API Error 429
  fink_filters/filter_anomaly_notification/filter_utils.py
Labels: bug, anomaly detection
